{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
                <div class="card-header">Activity {{activity.pk}}</div>
                    <div class="card-body">

                        {% if activity.action_type != "Prescription Filled" %}

                            <p>Remarks: {{activity.remarks}}</p>

                        {% else %}
                            <dl>
                                <dt>Pharmacist Name</dt>
                                <dt>Prescription Number</dt>
                                <dt>Patient Name</dt>
                                <dt>Date and Time</dt>
                                <dt>Medication</dt>
                                <dt>Quantity</dt>
                            </dl>
                        {% endif %}

                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'activity_log' %}" class="btn btn-secondary">Back</a>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}