{% extends 'base.html' %}
{% load filters %}
{% block content %}


<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
                <div class="card-header">Activity {{activity.pk}}: {{activity.action_type}}</div>
                    <div class="card-body">

                        <p>Remarks: {{activity.remarks}}</p>

                        {% if activity.action_type == "Prescription Filled" %}

                            <table class="table table-striped mt-4">
        
                                <tbody>
                                    <tr>
                                        <th>Prescriber Name</th>
                                        <td>{{ activity.data|get_json_value:"prescriber_name" }}</td>
                                    </tr>

                                    <tr>
                                        <th>Patient Name</th>
                                        <td>{{ activity.data|get_json_value:"patient" }}</td>
                                    </tr>

                                    <tr>
                                        <th>Medication</th>
                                        <td>{{ activity.data|get_json_value:"medication" }}</td>
                                    </tr>

                                    <tr>
                                        <th>Quantity</th>
                                        <td>{{ activity.data|get_json_value:"quantity" }}</td>
                                    </tr>

                                    <tr>
                                        <th>Date Prescribed</th>
                                        <td>{{ activity.data|get_json_value:"date_prescribed" }}</td>
                                    </tr>

                                    <tr>
                                        <th>Prescription ID</th>
                                        <td>{{ activity.data|get_json_value:"prescription_number" }}</td>
                                    </tr>
                                </tbody>

                            </table>

                        {% elif activity.action_type == "Order Purchased" %}

                            <table class="table table-striped mt-4">
                                <tbody>
                                    <tr>
                                        <th>Order Number</th>
                                        <td>{{ order.pk }}</td>
                                    </tr>

                                    <tr>
                                        <th> Order Total </th>
                                        <td> ${{ total }} </td>
                                    </tr>

                                    <tr>
                                        <th> Date </th>
                                        <td> {{ activity.action_time }} </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped mt-4">
                                <thead class="thead-dark"> 
                                    <th> Items in Order </th> 
                                    <th></th>
                                    <th></th>
                                </thead>

                                <thead> 
                                    <tr>
                                        <th> Item name </th> 
                                        <th> Quantity </th>
                                        <th> Price </th>
                                    </tr>   
                                </thead>

                                {% for item in order.items.all %}
                                    <tr>
                                        <td> 
                                            {% if item.medication %}
                                                {{ item.medication.name }}
                                            {% else %}
                                                {{ item.generic_item.name }}
                                            {% endif %}
                                        </td>

                                        <td> {{ item.quantity }} </td>

                                        <td> ${{ item.price }} </td>
                                    </tr>
                                {% endfor %}
                            </table>

                        {% endif %}

                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'activity_log' %}" class="btn btn-secondary">Back</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}