{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Expiring Medications Management</h2>
    </div>
  </div>

  <table class="table table-striped mt-4">

    <thead>
      <tr>
        <th>Medication ID</th>
        <th>Name of Medication</th>
        <th>Expiration Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for medication in expiring_medications %} 
      <tr>
        <td>{{ medication.id }}</td>
        <td>{{ medication.name }}</td>
        <td>{{ medication.expiration_date }}</td>
        
          {% if medication.is_expired %}

          <td>Expired</td>
          <td>
            <a href="{% url 'remove_medication' medication.pk %}" class="btn btn-danger">Remove</a> 
          </td>

          {% else %}

          <td>Expiring Soon</td>
          <td>No Action</td>

          {% endif %}
        
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}