<!-- 
 
Select payment method
(insert drop down menu with options "Credit", "Debit", and "Cash")

if credit or debit:
    name on card [...]
    card number [...]
    expiration date [...]
    csv [...]

if cash:
    "You have selected Cash as your payment method. Please proceed to the cashier for payment."

click "purchase"
have confirmation message: "Are you sure you want to purchase?"

have confirmation message: "Your items have been purchased. Thank you for shopping at MyPharma!"
-->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Inventory Report</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Generate Report</button>
           </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
