{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Low Stock Management</h2>
    </div>
  </div>

  <table class="table table-striped mt-4">
    <thead class="thead-dark">
      <tr>
        <th>Medication ID</th>
        <th>Name of Medication</th>
        <th>Tablet Count</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for medication in low_medications %} 
      <tr>
        <td>{{ medication.id }}</td>
        <td>{{ medication.name }}</td>
        <td>{{ medication.tablet_count }}</td>

        {% if medication.is_orderable %}

          <td>Critically Low</td>
          <td>
            
           <a href="{% url 'order_medications' medication.pk %}" class="btn btn-primary">Order</a>
            
          </td>

        {% else %}

          <td>Low</td>
          <td>No Action</td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
