{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <h1>Receipt for Order #{{ order.id }}</h1>
    <table>
        <thead>
            <tr>
                <th>Medication</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr>
                <td>
                    {% if item.medication %}
                        {{ item.medication.name }}
                    {% else %}
                        {{ item.generic_item.name }}
                    {% endif %}
                </td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.price|multiply:item.quantity }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total: {{ total_price }}</h3>
{% endblock %}